#root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.cnet.com/a/img/resize/f92ae43457ac52e0b761737181264a82aa0765bb/hub/2019/02/04/8311b046-6f2b-4b98-8036-e765f572efad/msft-microsoft-logo-2-3.jpg?auto=webp&fit=crop&height=675&width=1200");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
button{
  /* all: unset; */
  border: 2px black solid;
  border-radius: 5px;
  font-weight: 700;
  font-size:xx-large;
  margin: 10px 5px;
  

}


